/* ignore errors and syntax in here, dont know why they are here but it works! */

#mainView {
	-fx-background-color: #2F2F2F;
}

#menu MenuBar {
	-fx-background-color: #AFAFAF;
	-fx-padding: 0px;
}

#menu ToolBar {
	-fx-background-color: #4F4F4F;
	-fx-padding: 0px;
}

#menu .button, Menu {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-background-radius: 0;
	-fx-background-insets: 0,0,0,0,0;
}

#menu .button:hover {
	-fx-background-color: #5F5F5F;
}

MalwarePane {
	-fx-background-color: transparent;
}

MalwarePane > .viewport {
	-fx-background-color: #1F1F1F;
}