/* ignore errors and syntax in here, dont know why they are here but it works! */

MainView {
	-fx-background-color: #2F2F2F;
}

MenuBar {
	-fx-background-color: #AFAFAF;
	-fx-padding: 0px;
}

ToolBar {
	-fx-background-color: #4F4F4F;
	-fx-padding: 0px;
}

MalwarePane {
	-fx-background-color: transparent;
}

MalwarePane > .viewport {
	-fx-background-color: #1F1F1F;
}

.malware {
	-fx-padding: 10px;
}

.malware Text {
	-fx-fill: white;
}

EnvironmentPane {
	-fx-background-color: #1F1F1F;
}

InfoPane {
	-fx-background-color: transparent;
}

InfoPane ScrollPane {
	-fx-background-color: transparent;
}

InfoPane .viewport {
	-fx-background-color: transparent;
}

InfoPane VBox {
	-fx-padding: 10px;
}

.chart {
    -fx-padding: 10px;
    -fx-legend-visible: false;
}

.chart-content {
    -fx-padding: 30px;    
}

.chart-title {
    -fx-text-fill: #ffffff;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color: white;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: transparent;
}

.default-color0.chart-line-symbol {
    -fx-background-color: transparent;
    -fx-stroke: transparent;
}

.default-color1.chart-series-line {
    -fx-stroke: transparent;
}

.default-color1.chart-line-symbol {
    -fx-background-color: transparent;
    -fx-stroke: transparent;
}

.options {
	-fx-background-color: transparent;
	-fx-padding: 20px;
}

Text {
	-fx-fill: white;
}

TextField {
	-fx-background-color: #282828;
	-fx-text-fill: white;
}

Slider {
	
}

Slider > .track {
	-fx-background-color: #282828;
	-fx-pref-height: 2px;
}

Slider > .thumb {
	-fx-background-color: white;
	-fx-pref-height: 10px;
	-fx-pref-width: 10px;
	-fx-background-radius: 5px;
	-fx-background-insets: 0;
}

Button {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-background-radius: 0;
	-fx-background-insets: 0,0,0,0,0;
}

Button:hover {
	-fx-background-color: #5F5F5F;
}