/* ignore errors and syntax in here, dont know why they are here but it works! */

#mainView {
	-fx-background-color: #2F2F2F;
}

.pane {
	-fx-background-color: #3F3F3F;
}

#bottom {
	-fx-background-color: white;
}

#malwareList {
	-fx-background-color: #4F4F4F;
	-fx-padding: 10px;
}